body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background: #070411;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.nav{
    height: 10rem;
    width: 100%;
    display: flex;
    color: aliceblue;
    letter-spacing: 0.2em;
    font-style: italic;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    justify-content: center;
}

.quotes{
    text-align: justify;
    text-wrap: wrap;
    margin: 100px;
    color: aliceblue;
    letter-spacing: 0.2em;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-style: italic;
}